In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv(
    '/home/jessenguyen/pyfml/exercises/localbtcVND.csv',
    names = ['Time','VND','_'],
    dtype={'VND': 'str'}
)

In [21]:
df['Time'] = pd.to_datetime(df['Time'].astype(int), unit='s')

In [22]:
df

                    Time                     VND         _
0    2014-02-14 01:59:41   16102220.610000000000  0.701800
1    2014-03-25 11:43:25   13454060.690000000000  0.185817
2    2014-03-28 14:52:59   11833327.730000000000  0.198423
3    2014-03-31 08:54:47   11549259.330000000000  0.200000
4    2014-05-16 16:04:07   11368863.040000000000  0.215700
5    2014-06-02 03:09:44   15987724.200000000000  0.155600
6    2014-06-21 09:33:40   10666465.070000000000  0.003600
7    2014-08-07 18:13:01   14951439.910000000000  1.184100
8    2014-08-12 14:39:13   10215147.030000000000  0.021900
9    2014-08-12 18:48:36   10299824.180000000000  0.027300
10   2014-08-14 11:42:12   12531328.320000000000  0.039900
11   2014-08-19 14:00:01   11661807.580000000000  0.034300
12   2014-08-24 05:49:32   12747130.220000000000  0.166100
13   2014-10-01 05:25:32    9518117.000000000000  0.030000
14   2014-10-10 11:54:47    9377344.340000000000  0.133300
15   2015-04-02 16:27:11    6081442.260000000000  0.500000
16   2015-04-03 07:48:12    6140067.200000000000  0.500000
17   2015-05-12 03:43:19    5294533.330000000000  0.000600
18   2015-05-21 09:24:40    5555555.560000000000  0.180000
19   2015-06-12 10:33:56    4791929.380000000000  0.396500
20   2015-06-16 17:35:09    5016302.980000000000  0.398700
21   2015-07-03 12:51:50    6039497.010000000000  0.451300
22   2015-07-28 06:40:13    7051573.520000000000  0.500000
23   2015-07-29 14:59:23    6020469.600000000000  0.166100
24   2015-07-30 12:50:41    5999232.100000000000  4.167200
25   2015-07-31 00:54:16    6218132.070000000000  1.608200
26   2015-08-15 03:18:30    6469501.430000000000  0.216400
27   2015-08-18 07:31:22    6196377.500000000000  0.419600
28   2015-08-21 10:39:16    5179908.880000000000  0.780000
29   2015-08-24 03:48:03    4974591.130000000000  0.351600
...                  ...                     ...       ...
2088 2018-03-06 10:38:43  239462645.820000000000  0.012528
2089 2018-03-07 05:32:11  236853163.770000000000  0.014135
2090 2018-03-07 08:04:53  228540003.790000000000  0.072872
2091 2018-03-08 03:27:47  228423149.320000000000  0.008756
2092 2018-03-08 06:43:42  215265901.630000000000  0.050204
2093 2018-03-08 07:58:36  232198394.020000000000  0.129200
2094 2018-03-08 08:03:53  215671119.020000000000  0.097012
2095 2018-03-08 08:09:15  255622415.020000000000  0.003912
2096 2018-03-08 08:32:58  240284216.450000000000  0.942634
2097 2018-03-08 10:23:11  235644905.120000000000  0.012731
2098 2018-03-08 13:37:31  239531236.270000000000  2.000000
2099 2018-03-08 14:02:07  228919875.140000000000  0.065525
2100 2018-03-09 06:31:15  187133553.190000000000  0.043437
2101 2018-03-09 08:01:21  206908184.240000000000  0.241653
2102 2018-03-09 08:12:36  203934161.900000000000  0.014711
2103 2018-03-09 08:21:23  207706492.450000000000  0.024072
2104 2018-03-09 08:25:43  206752217.290000000000  0.096734
2105 2018-03-09 08:36:26  212253861.340000000000  0.209961
2106 2018-03-09 08:43:16  203368825.620000000000  0.102212
2107 2018-03-09 08:56:06  211471482.010000000000  0.004729
2108 2018-03-09 08:59:23  209869856.470000000000  0.012389
2109 2018-03-09 09:20:52  225681411.030000000000  0.152560
2110 2018-03-09 09:50:41  208927907.340000000000  0.002393
2111 2018-03-09 13:36:46  219583623.220000000000  0.025958
2112 2018-03-10 04:38:54  226707543.780000000000  0.005734
2113 2018-03-10 08:15:32  213422155.120000000000  0.015513
2114 2018-03-10 08:25:25  213422063.970000000000  0.020148
2115 2018-03-10 10:27:24  204103153.730000000000  0.014698
2116 2018-03-10 12:25:37  242661904.020000000000  0.004121
2117 2018-03-10 14:56:25  245263351.520000000000  0.004077

[2118 rows x 3 columns]

In [23]:
df[df['VND']==df['VND'].max()]

                    Time                    VND        _
1186 2017-09-07 07:50:28  99811763.250000000000  0.28173

In [24]:
# Alternative way
df[df.VND==df.VND.max()]

                    Time                    VND        _
1186 2017-09-07 07:50:28  99811763.250000000000  0.28173